<h1><%= @program.name %></h1>
<p><%= @program.description %></p>

<p><strong>University:</strong> <%= link_to @program.university.name, @program.university %></p>

<h3>Instructors</h3>
<ul>
  <% @program.instructors.each do |i| %>
    <li><%= i.name %> (<%= i.email %>)</li>
  <% end %>
</ul>

<%= link_to "Back to #{@program.university.name}", @program.university, class: "btn btn-outline-dark mt-3" %>
