<%= form_with(model: department, local: true) do |form| %>
  <% if department.errors.any? %>
    <div class="alert alert-danger">
      <h4>There were some errors:</h4>
      <ul>
        <% department.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :university_id, "University", class: "form-label" %>
    <%= form.collection_select :university_id, University.all, :id, :name, prompt: "Select a university", class: "form-select" %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
